/* @font-face {
    font-family: 'arial_lc_symbol_regularRg';
    src: url('arial-symbol-2020-laura-coombs-cyberfeminism-index-webfont.woff2') format('woff2'),
             url('arial-symbol-2020-laura-coombs-cyberfeminism-index-webfont.otf') format('otf');
    font-weight: normal;
    font-style: normal;
} */
@font-face {
  font-family: 'arial_narrow';
  src: url('ArialNarrowMTStd.otf') format('otf'),
    url('ArialNarrowMTStd.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.cr {
  font-family: 'arial_lc_symbol_regularRg';
  font-variant-ligatures: common-ligatures;
  -moz-font-feature-settings: "liga", "clig";
  -webkit-font-feature-settings: "liga", "clig";
  font-feature-settings: "liga", "clig";
}

body,
html {
  margin: 0;
  font-size: 24px;
  font-family: Arial, sans-serif;
  overflow: auto;
  /* or overflow: visible; */
  /* height: 170vh; */
  background-color: rgb(233, 233, 233);
}

.left_content {
  width: 100%;
  display: inline-block;
  /* height: 10vh; */
  margin: 0;
  /* overflow: auto;
  overflow-y: scroll; */
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: #000;
}

ul {

  margin: 0;
  padding: 0;
}

h1 {
  color: #fff;
  width: 67vw;
  font-size: inherit;

}

h2 {
  color: #000;
  font-size: 24px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-top: 6px;
  margin-bottom: 6px;

}

h3 {
  color: #000;
  font-size: 24px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-top: 12px;
  font-weight: normal;
  margin-bottom: 12px;
}

h4 {
  color: #707070;
  font-size: 12px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-top: 6px;
  font-weight: normal;
  margin-bottom: 6px;
}

p {
  color: #000;
  position: relative;
  font-size: 12px;
  z-index: 1;
}

.thismyworkpic {
  width: 50%;
}

.thismyworkpic {
  width: 50%;
  border: 1px solid #000;
}

.workContentTitle {
  padding: 0;
  margin: 0;
}

.workContentTitle .workContent {
  /* Styles for the ul inside the container div */
  list-style: none;
  /* Removes default list styles */
  padding: 0;
  margin: 0;
}

.workContentTitle .workContent li {
  padding: 0;
  margin: 0;
}

/* Media query for screens with a width less than 600px */
@media (max-width: 599px) {
  .thismyworkpic {
    width: 75%;
  }
}

select,
button {
  font-family: Arial, sans-serif;
  margin: 0;
}

.hidden {
  display: none;
}


#main_content {
  margin: 0;
  padding: 0;
  overflow: hidden;
}






#right_content.unopened {
  width: 0%;
  display: none;
}

.sm.num {
  font-family: Arial, sans-serif;
  margin-left: 18px;
}

.images_pg .index_drawer {
  height: auto;
}

.images_pg .index_entry {
  padding: 10px 0;
}

.images_pg .drawer_content div {
  display: inline-block;
}

.images_pg .img_container {
  /* max-width: 250px; */
  word-break: break-all;
}

.images_pg .img_container .caption {
  display: none;
  line-height: 0.5;
}

.images_pg .img_container .caption .imageIndex {
  display: inline;
  font-size: 18px;
}

.images_pg .img_container .caption .imageIndex a {
  text-decoration: none;
}

.images_pg .img_container .caption p {
  display: inline;
  font-size: 12px;
  margin-top: 0;
}

.searchbar {
  width: 100%;
  box-sizing: border-box;
  /* padding: 10px; You can adjust the padding as needed */
  margin: 0;
  /* Remove default margin */
  z-index: 10;
  position: relative;
}

.images_pg img {
  height: auto;
  display: inline;
  vertical-align: top;
  max-width: 125px;
}

.search_pg {
  margin: 85px 0 50px;
}

.search_pg #categories_list {
  margin: 40px 0;
  padding: 0 20px;
  columns: 900px 4;
}

a {
  color: #0000FF;
  font-size: 12px;
}

.black {
  color: #000;
}

.italic {
  font-style: italic;
}

/* .search_pg #categories_list label {
  color: #00ff00;
}

.search_pg form {
  padding: 0 20px;
}

.search_pg form input {
  width: 99.5%;
  padding: 5px;
}

.search_pg form input#user-input {
  border-style: none;
  color: #d3d3d3;
  font-size: 24px;
}

.search_pg form input#user-input:focus {
  color: #00ff00;
}

p.no_results {
  margin-left: 20px;
}

.collections_pg .curator_list_items {
  display: flex;
  align-content: center;
}

.collections_pg,
.images_pg {
  margin: 60px 20px 50px 20px;
  height: auto;
}

.collections_pg input[type="radio" i] {
  margin-top: 0px;
  margin-right: 5px;
}

#collections_list {
  margin-top: 30px;
  margin-bottom: 100px;
}

#index_list {
  margin-top: 69px;
  margin-bottom: 60px;
}

.main_index_style .arrows div {
  display: inline-block;
}

.loading.main_index_style .index_entry:hover,
#index_list.loading .index_entry.arrows .sm:hover,
#index_list.loading .index_entry.arrows .md:hover,
#index_list.loading .index_entry.arrows .lg:hover {
  text-shadow: 0 0 0 #00ff00 !important;
  color: transparent !important;
}

.loading2.main_index_style .index_entry:hover,
#index_list.loading2 .index_entry.arrows .sm:hover,
#index_list.loading2 .index_entry.arrows .md:hover,
#index_list.loading2 .index_entry.arrows .lg:hover {
  text-shadow: 0 0 0 #00ff00 !important;
  color: transparent !important;
}

.main_index_style .arrows a:hover,
.main_index_style .arrows a:active {
  color: #00ff00 !important;
}

.green_text {
  color: #00ff00;
}



#index_list .index_entry .sm:hover,
#index_list .index_entry .md:hover,
#index_list .index_entry .lg:hover {
  color: #00ff00;
}

.grid-container:hover {
  color: #00ff00;
}

.main_index_style .index_entry div p {
  margin: 0;
}

#download-btns {
  position: fixed;
  bottom: 20px;
} */




header {
  margin: 11px 0 30px 0;
  width: inherit;
  position: fixed;
  text-align: center;
  z-index: 2;
}

header .menu_section {
  position: relative;
  z-index: 10;
  width: calc(100% - 30px);
  display: inline-block;
  height: 100%;
  /* margin-left: -14px; */


}

header #menu {
  /* box-shadow: 1px 1px 10px 1px #00ff00; */
  width: calc(100% - 10px);

}

header #menu select {
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: -internal-light-dark-color(black, white);
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  -webkit-appearance: menulist;
  box-sizing: border-box;
  align-items: center;
  white-space: pre;
  -webkit-rtl-ordering: logical;
  background-color: rgb(248, 248, 248);
  cursor: default;
  margin: 0em;
  font: 400 11px system-ui;
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(166, 166, 166);
  border-image: initial;
}

select#menu.nav {
  color: black;
}

header #tag_btn {
  display: inline-block;
  height: 100%;
  vertical-align: top;
}

header #tag_btn button {
  padding: 5px 5px;
}

header #tag_btn button:hover {
  cursor: pointer;
}

header #tag_btn button span {
  /* font-size: 1vw; */
  vertical-align: middle;
}

#categories_section {
  width: 100%;
  display: inline-block;
}

#about_buttons {
  position: fixed;
  bottom: 20px;
  left: 75px;
  z-index: 100;
}



.internal_pg_container {
  margin: 0px 0px 0px;
  /* height: 100%; */
}

.internal_pg_containertext {
  margin: 53px 20px 0px;
  /* height: 100%; */
}

.img_sq {
  display: inline-block;
  cursor: pointer;
}

.bottom-buttons {
  position: fixed;
  bottom: 20px;
  left: 18px;
  z-index: 1000;
}

.go {
  margin-top: 30px;
}

.bottom-buttons button a {
  text-decoration: none;
  color: black;
}

.submit {
  box-shadow: 0 0 10px #00ff00;
}

.transparent {
  color: transparent !important;
}


/* THE PROJECT MENU */

.filterSection {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 10;
  /* margin-bottom: 20px; */
}

.menuContents {
  /* display: flex; */
  /* flex-wrap: wrap; */

}

.contexttalk {
  display: none;
}

.contexttalk.all p,
.contexttalk.community p,
.contexttalk.computation p,
.contexttalk.education p,
.contexttalk.film p,
.contexttalk.image p,
.contexttalk.film p,
.contexttalk.image p,
.contexttalk.music p,
.contexttalk.strategyidentity p,
.contexttalk.web p {
  z-index: 100;
}

.blue {
  color: #0000ff;
}

.all {

  display: block;
}


.hoverproject_img {
  width: calc(33.33% - 10px); /* Adjust width and margin as needed */
  margin: 5px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.hoverproject_img a {
  /* position: relative; */
  z-index: 1;
  overflow: hidden;
  display: block;
  height: 100%;
  outline: 1px solid black;
  color: #fff;

}

.hoverproject_img a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hoverproject_img a span {
  display: block;
  /* Show the image by default on mobile */
  position: static;
  /* Reset position to static for normal flow */
  transform: none;
  /* Reset transform */
  width: 100%;
  width: 100%;
  /* Take full width of the container */
  max-height: 175px;
  /* Set the max height */
  left: -50%;
  /* Center horizontally */
  top: -50%;
  /* Center vertically */
  /* transform: translate(-50%, -10%); */
  z-index: 0;
}

/* .hoverproject_img a:hover span {
  display: block;

} */

.hiddenheader {
  height: auto !important;
  color: #000 !important;
  display: block !important;
}

@media only screen and (max-width: 753px) {
  .hoverproject_img a {
    height: 175px;
    /* margin-bottom: 200px;  */
    outline: 1px solid black;
    color: #fff;
  }

  .hiddenheader {
    color: #000 !important;
    display: block !important;
  }

  .hoverproject_img {
    width: 100%; /* Adjust width and margin as needed */
    margin-bottom: 5px;
    box-sizing: border-box;
}


  .hoverproject_img a span {
    display: block;
    /* Show the image by default on mobile */
    position: static;
    /* Reset position to static for normal flow */
    transform: none;
    /* Reset transform */
    /* width: 10%; */
    /* Take full width of the container */
    max-height: 175px;
    /* Set the max height */
    /* left: -50%; */
    /* Center horizontally */
    /* top: -50%; */
    /* Center vertically */
    /* transform: translate(-50%, -10%); */
    z-index: 0;
  }

 

}

.centrecrop span{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* .up120 {
  transform: translate(0%, -40%);
}

.up100 {
  transform: translate(0%, -30%);
}

.up50 {
  transform: translate(0%, -23%);
} */


.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Adjust alignment as needed */
}




.menu_section {
  flex-grow: 1;
  /* Take up remaining space */
  position: relative;
}

.filteroptions {
  width: calc(100% - 80px);
  /* Take up the remaining width after leaving 300px for the text */
  margin-left: 80px;
  /* Move the dropdown button 300px off the left */
  box-sizing: border-box;
  position: relative;
  z-index: 1;
  /* padding: 8px; Adjust padding as needed */
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.images_pg.main_index_style.gallery .img_container {
  float: left;
  display: inline-block;
  padding: 5px;
}

.images_pg.main_index_style.gallery .img_container img {
  margin-bottom: 5px;
}

#about_pg_content {
  margin-bottom: 64px;
  overflow: hidden;
  /* height: 100vh; */
  z-index: 1;
}


#content {
  padding: 0vw;
}

.worktitlenimage{
  /* height: 100%;
  width: 100%;
  object-fit: contain; */
  /* margin: 20px; */
  background-color: #fff;
}

.picofmyworkandcaption {
  display: flex;
  align-items: top;
}

.imagecaption {
  margin-top: 0px;
  margin-left: 10px;
  padding-top: 0px;
  color: #707070;
  font-family: 'Times New Roman', Times, serif;
}


@media (min-width: 300px) and (max-width: 800px) {

  body,
  html {
    font-size: 16px;
  
  }


  .grid-container {
    grid-template-columns: 27px 40px 43% 25%;
  }

  .left_content {
    width: 100% !important;
    height: 100%;
  }

  #right_content {
    display: none;
  }

  #download_btn {
    display: none;
  }

  #trail_container #mobile_download_btn {
    display: block;
    /* font-size: 3.5vw; */
  }



  .grid-container>div {
    font-size: 16px;
  }

  .sm.num {
    margin-left: 0;
  }

  /* .enlarge_img {
  height: auto !important;
  max-width: 550px !important;
  width: 450px;
} */

}

.you-may-also-like-container {
  position: relative;
  width: 1040px;
  height: 367px;
  left: 0px;
  top: 14px;
}

.you-may-also-like-text {
  /* position: absolute;
  width: 144px;
  height: 20px;
  left: 0px;
  top: 0;

  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  identical to box height */


  color: #000000;
}


.scrollframe-mini {
  position: relative;
  width: 1373px;
  height: 866px;
  top: 26px;
  left: -4;
  overflow-x: scroll;
  /* overflow-y: hidden; */
}

.scrollmenu {
  overflow: auto;
  white-space: nowrap;
}

.row1 {
  position: relative;
  width: 2099px;
  height: 338px;
  left: 0px;
  top: 0px;
}

.img-container {
  position: relative;
  display: inline-block;
  color: #0000FF;
}

.project-pic-mini {
  border: 1px solid #000000;
  object-fit: cover;
  width: 250px;
  height: 338px;
}

.relatedWorkContentTitle {
  overflow-x: auto;
}

.scrolling-container {
  display: flex;
  /* Make it a flex container to line up items horizontally */
}

.relatedWorkItem {
  margin-right: 10px;
  /* Adjust the margin between items as needed */
}

.relatedWorkItem img {
  object-fit: cover;
  width: 150px;
  height: 200px;
  border: 0.5px solid #000;
}

/* Optional: Add styling for the captions */
.relatedWorkItem p {
  text-align: left;
  margin-top: 5px;
}