*{
margin:0;
padding:0;
}


body {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica', sans-serif;
}

h2{


}

model-viewer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #d0d0d0;
    z-index: -1; /* Set a lower z-index to place it underneath other elements */
}

.singularContent{

    z-index: 10;
    margin-top: 34px;
    margin-left: 34px;


}

.infotext{
    max-width: 400px;
    word-wrap: break-word;
}